{% extends 'bash.html' %}
{% load static %}
{% block content %}
<div class="m-2"><h1>{{text}}</h1></div>
<div class="d-flex flex-wrap m-2">
    {% for i in events %}
    <div class="card m-2" style="width: 18rem;">
        <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h2>{{i.name}}</h2>
          <p>{{i.description}}</p>
          <p>{{i.event_date}}</p>
          <p><a href="{{i.registration}}">Register Here</a></p>
        </div>
      </div>
      {% endfor %}
</div>


{% endblock %}